html,
body {
  background: black;
}
p {
  margin: 0px;
}

#content {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 8vw;
}

a {
  text-decoration: none;
}

p {
  background: linear-gradient(0deg, deepskyblue, magenta, orange);
  animation: gradient-animation 5s ease infinite;
  background-size: 200% 200%;

  font-family: serif;

  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  font-weight: bold;
  text-align: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.title {
  font-size: 24vw;
  margin-bottom: 8vw;
}

.link {
  font-size: 12vw;
  cursor: pointer;
}

.contact {
  font-size: 8vw;
  margin-top: 8vw;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
